 <h2>Album</h2>
 <ul>
   Title:<%= @album.title %>
   Year:<%= @album.year %>
   Band_id:<%=@album.band_id  %>
   type_of_band:<%= @album.type_of_band %>
   <a href="<%= bands_url %>"><p>Bands</p></a>
 </ul>
